* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

@font-face {
    font-family: "ALS Ekibastuz";
    src: local("ALS Ekibastuz Black"), local("ALS-Ekibastuz-Black"), url("Ekibastuz-Black.woff2") format("woff2"),
        url("Ekibastuz-Black.woff") format("woff"), url("Ekibastuz-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

html,
body {
    line-height: normal;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #142239;
    background-color: #fff;
}

a,
a:hover {
    cursor: pointer !important;
    color: #142239;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
button {
    font-family: "Roboto", sans-serif;
    border: none;
    outline: none;
    cursor: pointer !important;
}

input:hover,
button:hover {
    cursor: pointer !important;
    border: 0;
    outline: none;
}

input:focus,
button:focus {
    cursor: pointer !important;
    box-shadow: none !important;
    border: none;
    outline: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1520px;
    padding: 0 15px 0 15px;
}

@media (max-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 992px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 575px;
        padding: 0 20px 0 20px;
    }
}

.container-individual {
    width: 100%;
    margin: 0 auto;
    max-width: 1660px;
    padding: 0 70px 0 70px;
    background: #f6f9fb;
    border-radius: 16px;
}

@media (max-width: 1400px) {
    .container-individual {
        max-width: 1400px;
    }
}

@media (max-width: 1200px) {
    .container-individual {
        max-width: 1200px;
        padding: 0 53px 0 53px;
    }
}

@media (max-width: 992px) {
    .container-individual {
        max-width: 992px;
        padding: 0 36px 0 36px;
        border-radius: 0px;
    }
}

@media (max-width: 768px) {
    .container-individual {
        max-width: 768px;
        padding: 0 20px 0 20px;
    }
}

@media (max-width: 575px) {
    .container-individual {
        max-width: 575px;
        padding: 0 20px;
    }
}

/* base styles */
.title-medium {
    font-weight: 900;
    font-style: normal;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #0065b1;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .title-medium {
        font-size: 38px;
        line-height: 38px;
    }
}

@media (max-width: 767px) {
    .title-medium {
        font-size: 32px;
        line-height: 32px;
    }
}

@media (max-width: 575px) {
    .title-medium {
        font-size: 26px;
        line-height: 26px;
    }
}

.btn-pink {
    background-color: #ee3f58;
    border-radius: 6px;
    padding: 20px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #ffffff;
    transition: 0.3s;
}

.btn-pink:hover {
    transition: 0.3s;
    transform: scale(1.1);
    background-color: #0065b1;
}

.btn-pink:focus {
    transform: scale(1.1);
    background-color: #0065b1;
}

/* base styles */

/* navigation */
.navigation {
    background: #0065b1;
}

.nav-btn {
    background-color: #0065b1;
    border: 2px solid #ffffff;
    transition: 0.3s;
    max-width: 210px;
    width: 100%;
}

.nav-btn:hover {
    background-color: #ffffff;
    color: #0065b1;
    border: 2px solid #0065b1;
    transform: scale(1.1);
    transition: 0.3s;
}

.nav-btn:focus {
    background-color: #ffffff;
    color: #0065b1;
    border: 2px solid #0065b1;
}

.nav-phone {
    background-color: transparent;
}

/* navigation */
/* header */
.header {
    z-index: 0;
}

.header-block {
    padding-top: 120px;
    padding-bottom: 105px;
}

.title-header {
    width: auto;
    text-align: start;
    color: #212529;
}

.header-text {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    width: 100%;
    max-width: 705px;
}

.header-info {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0065b1;
    width: 100%;
    max-width: 485px;
}

.btn-header {
    max-width: 240px;
}

.woman {
    right: 360px;
    bottom: 0;
    z-index: -1;
}

.map {
    right: 120px;
    top: 0;
    z-index: -2;
}

/* header */
/* double-section */
/* goverment */

.title-goverment {
    margin-bottom: 70px;
    padding-top: 70px;
    max-width: 915px;
}

.goverment-block {
    margin-left: 130px;
    margin-bottom: 90px;
}

.goverment-list {
    padding-right: 10px;
}

.goverment-list__item {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 170%;
    color: #212529;
    padding-left: 35px;
    position: relative;
}

.goverment-list__item::before {
    position: absolute;
    width: 16px;
    height: 16px;
    content: "";
    display: table;
    background-image: url(../img/3-goverment-program/blue-element.png);
    background-repeat: no-repeat;
    left: 0;
    top: 12px;
}

.goverment-list__item:first-child {
    font-weight: bold;
    color: #212529;
    padding-left: 0px;
}

.goverment-list__item:first-child::before {
    display: none;
}

/* goverment */
/* advantages */
.advantages {
    padding-bottom: 70px;
    margin-bottom: 90px;
}

.advantages-img {
    border-radius: 16px 16px 0px 0px;
}

.title-advantages {
    margin-bottom: 70px;
}

.advantages-block {
    padding-bottom: 60px;
    margin-bottom: 50px;
    position: relative;
}

.advantages-block::before {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #d3dee9;
    content: "";
    display: table;
    bottom: 0;
}

.advantages-block__card {
    background: #ffffff;
    border: 1px solid #d3dee9;
    border-radius: 16px;
}

.advantages-block__card--text {
    height: 105px;
    padding-left: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
}

.btn-advantages {
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
    display: block;
}

/* advantages */
/* double-section */
/* our-results */
.title-results {
    margin-bottom: 120px;
}

.results-element__info--one {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 170%;
    text-align: end;
}

.results-element__info--two {
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 64px;
    color: #5cc4ca;
    text-align: end;
}

.results-element__info--three {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 170%;
    text-align: end;
}

.results-block {
    padding-bottom: 70px;
    margin-bottom: 90px;
    position: relative;
}

.results-block::before {
    position: absolute;
    content: "";
    bottom: 0;
    height: 1px;
    width: 100%;
    display: table;
    background-color: #d3dee9;
}

.blue-text {
    color: #2e7daf;
}

.red-text {
    color: #c22353;
}

/* our-results */
/* succsess-ful */
.succsess-ful {
    margin-bottom: 180px;
}

.title-succsess {
    margin-bottom: 70px;
}

.title-succsess span {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 36px;
    color: #212529;
}

.succsess-citiey__item {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #a9bccb;
}

.written-off {
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
    line-height: 150%;
}

.succsess-money {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 150%;
    color: #0065b1;
}

.succsess-decision__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #ee3f58;
    transition: 0.5s;
}

.succsess-link {
    transition: 0.3s;
}

.succsess-link:hover {
    transform: scale(1.04);
    transition: 0.3s;
}

.succsess-decision__text:hover {
    color: #0065b1;
    font-weight: 900;
    transition: 0.5s;
}

.succsess-element {
    width: 100%;
    max-width: 340px;
    min-width: 270px;
}

.ful-top {
    width: 18px;
}

/* succsess-ful */
/* debt-relief */
.relief-spin {
    right: 0;
    bottom: 14px;
}
.debt-relief {
    margin-bottom: 120px;
}

.debt-relief-block {
    background: #0065b1;
    border-radius: 16px;
    padding: 70px 260px;
}

.title-dr {
    color: #ffffff;
    text-align: start;
    width: 460px;
    margin: 0;
}

.relief-text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    max-width: 465px;
}

.relirf-btn {
    max-width: 280px;
    width: 100%;
}

.relirf-btn:hover {
    background-color: rgb(48, 48, 153);
}

.input-relief {
    background: #ffffff;
    border: 1px solid #d3dee9;
    box-sizing: border-box;
    border-radius: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #a9bccb;
    width: 365px;
    padding: 20px 0 20px 30px;
}

#check-element {
    width: 100%;
    height: 100%;
    left: 0;
    top: auto;
    opacity: 0;
    position: absolute;
}

#check-element:checked + .social-element-click {
    background-color: rgb(68, 25, 25);
}

.social-element-click {
    height: 25px;
    width: 25px;
    cursor: pointer;
    background: #ee3f58;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-ok {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

/* debt-relief */
/* reviews */
.reviews {
    padding-bottom: 120px;
}

.title-reviews {
    margin-bottom: 90px;
}

.img-slider-name {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    color: #212529;
}

.img-slider-money {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 130%;
    color: #0065b1;
}

.img-slider {
    padding-bottom: 20px;
}

.swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 50;
    height: 4px;
    width: 98%;
    background: #d9e2eb;
    border-radius: 4px;
}

.swipe-prog {
    position: absolute;
    bottom: -200px !important;
}

.swiper-pagination-progressbar-fill {
    display: block !important;
    background-color: #ee3f58 !important;
    border-radius: 4px;
}

.swiper-container-horizontal > .swiper-scrollbar {
    position: inherit;
    width: 96%;
}

.swipe-bar {
    display: none;
}

.image-slider__image {
    width: fit-content;
}

.image-slider__image--link {
    width: 100%;
    height: 100%;
}

.image-slider__image--link img {
    border-radius: 16px;
}

/* reviews */
/* contact */
.contact-spin {
    left: 340px;
    bottom: 13px;
}
.title-contact {
    margin-bottom: 90px;
}

.block__sms--element {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.block__sms--title {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    color: #0065b1;
}

.block__sms--street {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #0065b1;
}

.block-contact-form {
    padding: 60px 130px 70px;
    background-color: #f6f9fb;
    border-radius: 16px;
}

.block-contact-form__text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

.label-ok-color {
    color: #212529;
}

.input-contact {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    width: 100%;
    height: 150px;
    padding: 20px 5px 20px 30px;
    background-color: #ffffff;
    border: 1px solid #d3dee9;
    border-radius: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #a9bccb;
    text-align: start;
    outline: none;
    resize: none;
}

.input-relief-width {
    width: 300px;
}

.contact-block__sms {
    margin-bottom: 90px;
}

.contact-btn {
    width: 280px;
}

/* contact */
/* footer */
.footer {
    background-color: #0065b1;
}

.footer-text {
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #b4d1e8;
}

/* footer */
/* modal */
.btn-close {
    background: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #b4d1e8;
    width: 100%;
    text-align: end;
    box-sizing: border-box;
    height: auto;
    padding: 0;
    margin-bottom: 50px;
}

.modal-content {
    background-color: #0065b1;
    border-radius: 30px;
    padding: 30px 90px 0;
}

.modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
}

.modal-block__form {
    margin-bottom: 115px;
}

.title-modal {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
}

.modal-block__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
    max-width: 290px;
}

.modal-thank {
    background-color: #0065b1;
    border-radius: 30px;
    position: fixed;
    z-index: 100;
    left: 50%;
    right: auto;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 95px 90px 150px;
}

.modal-block__text-thank {
    min-width: 250px !important;
}
.spinner-border {
    -webkit-animation: 0.5s linear infinite spinner-border;
    animation: 0.5s linear infinite spinner-border;
}
.modal-spin {
    right: 0;
    bottom: 15px;
}
