@media (max-width: 1700px) {

    /* navigation */
    /* navigation */
    /* header */
    .header-block {
        padding-top: 100px;
        padding-bottom: 85px;
    }

    .woman {
        right: 320px;
        width: 390px;
    }

    .map {
        width: 700px;
        right: 120px;
        top: 80px;
        z-index: -2;
    }

    /* header */
    /* double-section */
    /* goverment */
    /* goverment */
    /* advantages */
    /* advantages */
    /* double-section */
    /* our-results */
    /* our-results */
    /* succsess-ful */
    /* succsess-ful */
    /* debt-relief */
    /* debt-relief */
    /* reviews */
    /* reviews */
    /* contact */
    /* contact */
    /* footer */
    /* footer */
}

@media (max-width: 1470px) {

    /* navigation */
    /* navigation */
    /* header */
    .header-block {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .woman {
        right: 180px;
        width: 340px;
    }

    .map {
        width: 640px;
        right: 0;
        top: 60px;
    }

    /* header */
    /* double-section */
    /* goverment */
    /* goverment */
    /* advantages */
    /* advantages */
    /* double-section */
    /* our-results */
    /* our-results */
    /* succsess-ful */
    /* succsess-ful */
    /* debt-relief */
    /* debt-relief */
    /* reviews */
    /* reviews */
    /* contact */
    /* contact */
    /* footer */
    /* footer */
}

@media (max-width: 1400px) {

    /* navigation */
    /* navigation */
    /* header */
    /* header */
    /* double-section */
    /* goverment */
    .gaverment-img {
        width: 500px;
    }

    .goverment-list__item::before {
        background-size: 14px;
        width: 14px;
        height: 14px;
        top: 11px;
    }

    .goverment-list__item {
        font-size: 20px;
        padding-left: 25px;
    }

    .goverment-block {
        margin-left: 50px;
    }

    /* goverment */
    /* advantages */
    /* advantages */
    /* double-section */
    /* our-results */
    .results-element__info--one {
        font-size: 21px;
        line-height: 120%;
    }

    .results-element__info--two {
        font-size: 50px;
        line-height: 50px;
    }

    .results-element__info--three {
        font-size: 20px;
        line-height: 145%;
    }

    .results-img {
        width: 100px;
    }

    /* our-results */
    /* succsess-ful */
    /* succsess-ful */
    /* debt-relief */
    .debt-relief-block {
        padding: 40px 130px;
    }

    /* debt-relief */
    /* reviews */
    /* reviews */
    /* contact */
    /* contact */
    /* footer */
    /* footer */
}

@media (max-width: 1300px) {

    /* navigation */
    /* navigation */
    /* header */
    .header-block {
        padding-top: 30px;
    }

    .title-header {
        width: 440px;
    }

    .header-text {
        max-width: 505px;
    }

    .woman {
        right: 160px;
        width: 390px;
    }

    .map {
        width: 640px;
        top: 75px;
    }

    /* header */
    /* double-section */
    /* goverment */
    /* goverment */
    /* advantages */
    /* advantages */
    /* double-section */
    /* our-results */
    /* our-results */
    /* succsess-ful */
    /* succsess-ful */
    /* debt-relief */
    /* debt-relief */
    /* reviews */
    .img-slider-name {
        font-size: 16px;
    }

    .img-slider-money {}

    /* reviews */
    /* contact */
    /* contact */
    /* footer */
    /* footer */
}

@media (max-width: 1200px) {

    /* navigation */
    /* navigation */
    /* header */
    /* header */
    /* double-section */
    /* goverment */
    /* goverment */
    /* advantages */
    .advantages-block__card--text {
        height: 85px;
        padding-left: 25px;
        font-size: 20px;
    }

    .advantages-img {
        max-width: 350px;
        width: 100%;
    }

    /* advantages */
    /* double-section */
    /* our-results */
    /* our-results */
    /* succsess-ful */
    .succsess-element {
        width: auto;
        max-width: inherit;
        min-width: inherit;
    }

    .succsess-block {
        flex-wrap: wrap;
    }

    /* succsess-ful */
    /* debt-relief */
    .relief-text {
        font-size: 20px;
        line-height: 24px;
        max-width: 390px;
    }

    .input-relief {
        width: 300px;
    }

    .title-dr {
        width: 380px;
        font-size: 40px;
        line-height: 40px;
    }

    /* debt-relief */
    /* reviews */
    .reviews .container {
        padding-right: 0;
    }

    /* reviews */
    /* contact */
    /* contact */
    /* footer */
    /* footer */
}

@media (max-width: 1100px) {

    /* navigation */
    /* navigation */
    /* header */
    .title-header {
        width: 610px;
    }

    .title-header br {
        display: none;
    }

    .header-text {
        max-width: 475px;
        font-size: 26px;
        line-height: 31px;
    }

    .header-info {
        font-size: 20px;
        line-height: 24px;
        max-width: 405px;
    }

    .woman {
        right: 140px;
        width: 320px;
    }

    .map {
        width: 560px;
        top: 103px;
    }

    /* header */
    /* double-section */
    /* goverment */
    .goverment-list__item::before {
        background-size: 12px;
        width: 12px;
        height: 12px;
        top: 9px;
    }

    .goverment-list__item {
        font-size: 18px;
        padding-left: 20px;
    }

    .gaverment-img {
        width: 415px;
    }

    .goverment-block {
        margin-left: 0px;
    }

    /* goverment */
    /* advantages */
    /* advantages */
    /* double-section */
    /* our-results */
    .results-element__info--one {
        font-size: 18px;
    }

    .results-element__info--two {
        font-size: 48px;
        line-height: 48px;
    }

    .results-element__info--three {
        font-size: 18px;
        line-height: 145%;
    }

    .results-element {
        width: 340px;
    }

    .results-img {
        width: 90px;
    }

    /* our-results */
    /* succsess-ful */
    .succsess-ful {
        margin-bottom: 120px;
    }

    .ful-ok {
        width: 36px;
    }

    .succsess-citiey__item {
        font-size: 16px;
    }

    .written-off {
        font-size: 18px;
    }

    .succsess-money {
        font-size: 30px;
    }

    .succsess-decision__text {
        font-size: 16px;
    }

    .succsess-element {
        width: 205px;
    }

    /* succsess-ful */
    /* debt-relief */
    /* debt-relief */
    /* reviews */
    /* reviews */
    /* contact */
    /* contact */
    /* footer */
    /* footer */
}

@media (max-width: 992px) {

    /* navigation */
    /* navigation */
    /* header */
    .title-header {
        width: 420px;
    }

    .header-text {
        max-width: 380px;
        font-size: 21px;
        line-height: 24px;
    }

    .header-info {
        font-size: 20px;
        line-height: 24px;
        max-width: 405px;
    }

    .woman {
        right: 130px;
        width: 260px;
    }

    .map {
        width: 480px;
        top: 68px;
    }

    /* header */
    /* double-section */
    /* goverment */
    .goverment-block {
        flex-direction: column;
    }

    .gaverment-img {
        width: 100%;
        max-width: 500px;
    }

    /* goverment */
    /* advantages */
    .advantages-block {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    .advantages-block__card--text {
        height: 60px;
        padding-left: 20px;
        font-size: 16px;
    }

    .advantages-img {
        border-radius: 6px 6px 0px 0px;
    }

    .advantages-block__card {
        border-radius: 12px;
    }

    /* advantages */
    /* double-section */
    /* our-results */
    /* our-results */
    /* succsess-ful */
    .title-succsess span {
        font-size: 26px;
        line-height: 26px;
    }

    /* succsess-ful */
    /* debt-relief */
    .relief-text {
        font-size: 16px;
        line-height: 20px;
        max-width: 335px;
    }

    .debt-relief-block {
        padding: 40px 50px;
    }

    .input-relief {
        width: 270px;
    }

    /* debt-relief */
    /* reviews */
    /* reviews */
    /* contact */
    /* contact */
    /* footer */
    /* footer */
}

@media (max-width: 870px) {

    /* header */
    .woman {
        right: 111px;
        width: 245px;
    }

    .map {
        width: 400px;
        top: 100px;
    }

    .header-info {
        font-size: 16px;
        line-height: 19px;
        max-width: 325px;
    }

    /* header */
    /* debt-relief */
    .title-dr {
        width: 305px;
        font-size: 32px;
        line-height: 32px;
    }

    /* debt-relief */

}

@media (max-width: 768px) {

    /* navigation */
    /* navigation */
    /* header */
    .title-header {
        width: 355px;
    }

    .header-text {
        max-width: 290px;
        font-size: 16px;
        line-height: 19px;
    }

    .header-info {
        max-width: 230px;
    }

    /* header */
    /* double-section */
    /* goverment */
    /* goverment */
    /* advantages */
    /* advantages */
    /* double-section */
    /* our-results */
    .title-results {
        margin-bottom: 45px;
    }

    .results-element {
        width: auto;
    }

    .results-element {
        flex-direction: row !important;
        flex-direction: column !important;
        justify-content: center;
        align-items: center !important;
    }

    .results-element__info--one {
        text-align: center;
        margin-bottom: 7px;
    }

    .results-element__info--two {
        text-align: center;
        margin-bottom: 7px;
    }

    .results-element__info--three {
        text-align: center;
    }

    .results-block {
        padding-bottom: 40px;
        margin-bottom: 60px;
    }

    /* our-results */
    /* succsess-ful */
    .title-succsess span {
        font-size: 22px;
        line-height: 22px;
    }

    /* succsess-ful */
    /* debt-relief */
    .debt-relief {
        margin-bottom: 60px;
    }

    .title-dr {
        width: 240px;
        font-size: 24px;
        line-height: 24px;
    }

    .relief-text {
        font-size: 16px;
        line-height: 20px;
        max-width: 205px;
    }

    .debt-relief-block {
        padding: 40px 20px;
        border-radius: 6px;
    }

    .input-relief {
        width: 240px;
    }

    /* debt-relief */
    /* reviews */
    .img-slider-money {
        width: 150px;
    }

    .reviews {
        padding-bottom: 60px;
    }

    /* reviews */
    /* contact */
    /* contact */
    /* footer */
    /* footer */
}

@media (max-width: 670px) {

    /* header */
    .map {
        width: 288px;
        top: 130px;
    }

    .woman {
        right: 49px;
        width: 220px;
    }

    /* header */
}

@media (max-width: 575px) {

    /* navigation */
    .logo {
        width: 110px;
    }

    /* navigation */
    /* header */
    .title-header {
        width: 100%;
        max-width: inherit;
    }

    .header-text {
        max-width: inherit;
    }

    .header-info {
        max-width: inherit;
    }

    .map-mob {
        margin: 0 auto;
        max-width: 400px;
    }

    /* header */
    /* double-section */
    /* goverment */
    /* goverment */
    .goverment-list__item {
        font-size: 16px;
        padding-left: 18px;
    }

    .goverment-list__item::before {
        top: 7px;
    }

    .title-goverment {
        margin-bottom: 30px;
        padding-top: 30px;
    }

    .goverment-block {
        margin-bottom: 60px;
    }

    /* advantages */


    .advantages-block::before {
        display: none;
    }

    .advantages-block {
        padding-bottom: 0px;
    }

    .title-advantages {
        margin-bottom: 30px;
    }

    .advantages {
        padding-bottom: 40px;
        margin-bottom: 60px;
    }

    /* advantages */
    /* double-section */
    /* our-results */
    /* our-results */
    /* succsess-ful */
    .succsess-ful {
        margin-bottom: 60px;
    }

    .succsess-element {
        width: 100%;
        position: relative;
    }

    .succsess-element::before {
        position: absolute;
        content: '';
        display: table;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #D3DEE9;
    }

    .succsess-element:last-child::before {
        display: none;
    }

    .title-succsess span {
        font-size: 18px;
        line-height: 18px;
    }

    .title-succsess {
        margin-bottom: 40px;
    }

    /* succsess-ful */
    /* debt-relief */
    /* debt-relief */
    /* reviews */
    /* reviews */
    /* contact */
    /* contact */
    /* footer */
    /* footer */
}

@media (max-width: 425px) {

    /* header */
    .btn-header {
        max-width: inherit;
    }

    /* header */

}

@media (max-width: 375px) {

    /* header */
    .map-mob {
        margin: 0 0;
    }

    /* header */

}