@media (max-width: 1700px) {

    /* navigation */
    /* navigation */
    /* header */
    .header-block {
        padding-top: 100px;
        padding-bottom: 85px;
    }

    .woman {
        right: 320px;
        width: 390px;
    }

    .map {
        width: 700px;
        right: 120px;
        top: 80px;
        z-index: -2;
    }

    /* header */
    /* double-section */
    /* goverment */
    /* goverment */
    /* advantages */
    /* advantages */
    /* double-section */
    /* our-results */
    /* our-results */
    /* succsess-ful */
    /* succsess-ful */
    /* debt-relief */
    /* debt-relief */
    /* reviews */
    /* reviews */
    /* contact */
    /* contact */
    /* footer */
    /* footer */
}

@media (max-width: 1400px) {
    /* navigation */
    /* navigation */
    /* header */
    /* header */
    /* double-section */
    /* goverment */
    /* goverment */
    /* advantages */
    /* advantages */
    /* double-section */
    /* our-results */
    /* our-results */
    /* succsess-ful */
    /* succsess-ful */
    /* debt-relief */
    /* debt-relief */
    /* reviews */
    /* reviews */
    /* contact */
    /* contact */
    /* footer */
    /* footer */
}

@media (max-width: 1200px) {
    /* navigation */
    /* navigation */
    /* header */
    /* header */
    /* double-section */
    /* goverment */
    /* goverment */
    /* advantages */
    /* advantages */
    /* double-section */
    /* our-results */
    /* our-results */
    /* succsess-ful */
    /* succsess-ful */
    /* debt-relief */
    /* debt-relief */
    /* reviews */
    /* reviews */
    /* contact */
    /* contact */
    /* footer */
    /* footer */
}

@media (max-width: 992px) {
    /* navigation */
    /* navigation */
    /* header */
    /* header */
    /* double-section */
    /* goverment */
    /* goverment */
    /* advantages */
    /* advantages */
    /* double-section */
    /* our-results */
    /* our-results */
    /* succsess-ful */
    /* succsess-ful */
    /* debt-relief */
    /* debt-relief */
    /* reviews */
    /* reviews */
    /* contact */
    /* contact */
    /* footer */
    /* footer */
}

@media (max-width: 768px) {
    /* navigation */
    /* navigation */
    /* header */
    /* header */
    /* double-section */
    /* goverment */
    /* goverment */
    /* advantages */
    /* advantages */
    /* double-section */
    /* our-results */
    /* our-results */
    /* succsess-ful */
    /* succsess-ful */
    /* debt-relief */
    /* debt-relief */
    /* reviews */
    /* reviews */
    /* contact */
    /* contact */
    /* footer */
    /* footer */
}

@media (max-width: 575px) {

    /* navigation */
    .logo {
        width: 110px;
    }

    /* navigation */
    /* header */
    /* header */
    /* double-section */
    /* goverment */
    /* goverment */
    /* advantages */
    /* advantages */
    /* double-section */
    /* our-results */
    /* our-results */
    /* succsess-ful */
    /* succsess-ful */
    /* debt-relief */
    /* debt-relief */
    /* reviews */
    /* reviews */
    /* contact */
    /* contact */
    /* footer */
    /* footer */
}